/******************************************************************************
 * Overall Rules
 *****************************************************************************/
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.50;
    margin-left: 17rem;
    margin-right: 17rem;
}

@media screen and (max-width: 1500px) {
    body {
        margin-left: 12rem;
        margin-right: 12rem;
    }
}

@media screen and (max-width: 1200px) {
    body {
        margin-left: 7rem;
        margin-right: 7rem;
    }
}

@media screen and (max-width: 720px) {
    body {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

* {
    transition: 1s all ease;
}

a {
    color: black;
}

.subtle-emphasis {
    font-weight: bold;
}

.row {
    display: flex;
}

.column_20 {
    flex: 20%;
}

.column_50 {
    flex: 50%;
}

.column_70 {
    flex: 70%;
}

.column_30 {
    flex: 30%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 4rem;
}

h3 {
    text-align: center;
    font-size: 3rem;
}

.background-image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/******************************************************************************
 * About Me Section
 *****************************************************************************/
.aboutme,
.aboutme *:not(span) {
    text-align: center;
    margin: 2rem;
}

.aboutme h3 {
    text-align: center;
    margin-right: 2rem;
}

/******************************************************************************
 * Experience Section
 *****************************************************************************/
.exp>div {
    align-items: center;
}

.exp_title {
    font-weight: bold;
}

.logo {
    position: relative;
}

.logo>img {
    left: calc(10%);
    max-width: calc(80%);
    position: absolute;
    transition: 1s all ease;
    opacity: 0.0;
}

li.active .logo>img {
    opacity: 0.1
}

.exp_loc {}

.exp_time {}

/******************************************************************************
 * Education Section
 *****************************************************************************/
.education {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

/******************************************************************************
 * Bullet Point styling for Experience and Education Sections
 *****************************************************************************/
ul.flow-points {
    position: relative;
}

ul.flow-points li :not(ul.flow-points)>li {
    position: relative;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

ul.flow-points :not(ul.flow-points)>li::marker {
    content: revert;
}

ul.flow-points li {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    opacity: 0.0
}

ul.flow-points li.active {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    transition: 1s all ease;
    opacity: 1.0
}

ul.flow-points li::marker {
    content: "";
}

ul.flow-points>li::before {
    content: "";
    background: rgb(0, 0, 0);
    position: absolute;
    left: -2rem;
    top: 1rem;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    z-index: 3;
    border: 0.18rem solid rgb(0, 0, 0);
    transition: 1s all ease;
    transform: scale(0.4);
}

ul.flow-points>li.active::before {
    transform: scale(1.0);
}

ul.flow-points>li:after {
    width: 0.2rem;
    height: calc(100% - 0.4rem);
    content: "";
    position: absolute;
    z-index: 2;
    top: 1.45rem;
    left: -1.45rem;
    background: rgb(0, 0, 0);
    transition: 1s all ease;
    transform: scaleY(0.0);
    transform-origin: top;
}

ul.flow-points>li.active:after {
    transform: scaleY(1.0);
}

ul.flow-points ul.flow-points>li:last-of-type:after {
    height: 0.2rem;
    width: 2.65rem;
    content: "";
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    left: -3.9rem;
    background: rgb(0, 0, 0);
    transition: 1s all ease;
    transform: scaleX(0.0);
    transform-origin: right;
}

ul.flow-points ul.flow-points>li.active:last-of-type:after {
    transform: scaleX(1.0);
}

ul.flow-points li ul.flow-points li::before {
    background: rgb(255, 255, 255);
}

/******************************************************************************
 * Skills Section
 *****************************************************************************/
.skills .grid img {
    max-width: 4rem;
    max-height: 4rem;
    position: absolute;
    left: 1rem;
    top: 1.75rem;
}

.skills .grid div {
    display: inline-grid;
    position: relative;
    padding: 1rem;
    padding-left: 6rem;
    height: 5.5rem;
    margin: 0.5rem;
    width: 9rem;
    background-color: rgb(206, 206, 206);
    border-radius: 0.5rem;
    text-align: center;
    transition: 0.5s all ease;
}

.skills .grid div:hover {
    margin: 0.2rem;
    width: 9.4rem;
    height: 5.9rem;
}

.skills .grid div span {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1190px) {
    .skills .grid {
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (min-width: 1450px) {
    .skills .grid {
        text-align: center;
    }
}

@media screen and (max-width: 1190px) {
    .skills .grid {
        grid-template-columns: auto auto auto;
    }
}

.skills {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.skills .grid {
    display: grid;
    padding-left: 4rem;
    padding-right: 4rem;
}

/******************************************************************************
 * Personal Life Section
 *****************************************************************************/
.personallife {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.personallife-card {
    margin: 1rem;
    border-radius: 1rem;
    height: 15rem;
    background-size: cover;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF 1px 1px 0 #FFF;
}

/******************************************************************************
 * Links Section
 *****************************************************************************/
.links img {
    width: 5rem;
    height: 5rem;
    margin: 1.5rem;
}

.links img:hover {
    width: 6rem;
    height: 6rem;
    margin: 1rem;
}

.links {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

/******************************************************************************
 * Footer
 *****************************************************************************/
.footer {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

/******************************************************************************
 * Navigation Menus
 *****************************************************************************/
.menu {
    position: fixed
}

.navigation {
    background-color: blue;
    position: fixed;
    width: 2rem;
    height: 2rem;
    right: 2rem;
    border-radius: 1rem;
    transform: scaleX(0.0) scaleY(0.0) rotate(-120deg);
}

.navigation.top {
    top: 2rem;
}

.navigation.bottom {
    bottom: 2rem;
}

.navigation .hamburger,
.navigation .hamburger:before,
.navigation .hamburger:after {
    background-color: white;
    position: relative;
    top: 0.86rem;
    left: 0.5rem;
    width: 1rem;
    height: 0.12rem;
}

.navigation.active {
    transform: scaleX(1.0) scaleY(1.0) rotate(0deg);
}

.navigation .hamburger:before,
.navigation .hamburger:after {
    display: inline-block;
    content: "";
    left: 0rem;
}

.navigation .hamburger:before {
    top: -0.37rem;
}

.navigation .hamburger:after {
    top: 0.25rem;
}